@font-face {
  src: url('../assets/fonts/Montserrat-Regular.woff') format("woff");
  font-family: 'Montserrat';
  font-weight: normal;
} 
@font-face {
  src: url('../assets/fonts/Montserrat-Bold.woff') format("woff");
  font-family: 'Montserrat';
  font-weight: bold;
} 
@font-face {
  src: url('../assets/fonts/Courier.woff') format("woff");
  font-family: 'Courier';
  font-weight: normal;
} 
@font-face {
  src: url('../assets/fonts/Courier.woff') format("woff");
  font-family: 'Courier';
  font-weight: bold;
} 