$red: #B60000;
$white: #F0F0F0;
$gray: #A9A9A9;
$gray-dark: #616161;
$black: #111111;
$black-night: #303030;
$main-font: 'Courier', 'Arial', sans-serif;
$second-font: 'Montserrat', 'Arial', sans-serif;